---
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  -clang-analyzer-optin.performance.Padding,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: "*"
HeaderFilterRegex: "^(kernel|user)/"
FormatStyle: file
...
